@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(246 245 244 / var(--tw-bg-opacity));
  }
}

.fit {
  max-width: 1920px;
  margin: 0 auto;
  min-height: calc(50vh);
}
